%html
  %head
    %meta(charset="itf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css", "normalize", "all"
    %title
      = current_page.data.title || "The Middleman"
  %body(class="{{page_classes}}>")
    = yield
    = javascript_include_tag  "all"
